atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
falcon==2.0.0
gunicorn==19.9.0
httpie==1.0.2
idna==2.8
more-itertools==7.0.0
mountepy==0.4.1
pluggy==0.9.0
port-for==0.4
py==1.8.0
Pygments==2.3.1
pytest==4.4.1
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
urllib3==1.24.3
